<h1>Batman vs Superman</h1>


<IMG SRC="http://static2.comicvine.com/uploads/scale_small/7/73958/5191355-5190058-superman%2Brebirth%2Bvariant%2Bcover%2Bby%2Bandy%2Bpark.jpg" WIDTH=150 HEIGHT=180 BORDER=0 hspace=0><IMG SRC="http://kingofwallpapers.com/batman/batman-020.jpg" WIDTH=90 HEIGHT=180 BORDER=0 hspace= 0>



